* {

   font-family: tahoma,arial,'Hiragino Sans GB',"\5b8b\4f53",sans-serif;
   color: white;
   /*background-color: #f4f4f4;*/
}

a:link{
   text-decoration: none;
}

a:hover {
   font-weight: bold;
   color: #ff5000;
   /*border-bottom: 2px solid #f40;*/
}
/*背景*/
.background {
   width: 100%;
   height: 700px;
   border:1px solid white;
   background-image: url(../Img/bg.PNG);
   background-position: 50% 50%;
   background-size: cover;
   background-repeat: no-repeat;
   margin-left: auto;
   margin-right: auto;
}
/*主体框*/
.rg_layout{
   width:750px;
   height:380px;
   /*设置边框圆角*/
   border-radius: 5px;
   /*让div居中*/
   margin:auto;
   margin-top: 150px;
   background-color:darkorange;
   opacity: 0.85;

}
.rg_left{
   margin-left: 20px;
   margin-top: 3px;
   float:left;

}

#rg_left_text1{
   color:white;
   font-size:30px;
}

#rg_left_text2{
   color:white;
   font-size:20px;
}

.rg_center{
   width:400px;
   height:250px;
   /*border:1px solid white;*/
   float:left;
   margin-top: 30px;
   margin-left: 20px;
}
.rg_right{
   /*border:1px solid white;*/
   float:right;
   margin-top: 10px;
   margin-right: 20px;
}
.rg_button{
   width:150px;
   height:50px;
   text-align: center;
   background-color: yellow;
   border: 1px solid yellow;
   border-radius: 5px;
   color:orange;

}
.td_left{
   text-align: right;
   padding-left: 20px;
}

.td_right{
   text-align: left;
   padding: 20px;

}
.td_button{
   text-align: center;
}

.login_button {
   width:150px;
   height:30px;
   text-align:center;
   background-color: yellow;
   border: 1px solid yellow;
   border-radius: 5px;
   color:orange;
   padding-top:15px;
}

.register_button {
   width:150px;
   height:30px;
   text-align:center;
   background-color: yellow;
   /*border: 1px solid green;*/
   border-radius: 5px;
   color:orange;
   margin-top: 30px;
   padding-top:15px;
   margin-left: 130px;
}

#username{
   width:251px;
   height: 30px;
   border: 1px solid grey;
   /*设置边框圆角*/
   border-radius: 5px;
   padding-left: 5px;
}
#password{
   width:251px;
   height: 30px;
   border: 1px solid grey;
   /*设置边框圆角*/
   border-radius: 5px;
   padding-left: 5px;
}
#address{
   width:251px;
   height: 30px;
   border: 1px solid grey;
   /*设置边框圆角*/
   border-radius: 5px;
   padding-left: 5px;
}
#phonenumber{
   width:251px;
   height: 30px;
   border: 1px solid grey;
   /*设置边框圆角*/
   border-radius: 5px;
   padding-left: 5px;
}
#realname{
   width:251px;
   height: 30px;
   border: 1px solid grey;
   /*设置边框圆角*/
   border-radius: 5px;
   padding-left: 5px;
}

